<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>File Browser</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="terminal/css/index-lib.css" rel="stylesheet" />
    <link href="terminal/css/index.css" rel="stylesheet" />
    <link href="terminal/css/filebrowser.css" rel="stylesheet" />
</head>
<body ng-app="FileBrowserApp" ng-controller="FileBrowserCtrl">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" ng-click="navigateTo('/')">Root</a>
                </li>
                <li class="breadcrumb-item" ng-repeat="(index, part) in pathParts track by $index" 
                    ng-class="{'active': $last}">
                    <a href="#" ng-if="!$last" ng-click="navigateToIndex(index)">{{part}}</a>
                    <span ng-if="$last">{{part}}</span>
                </li>
            </ol>
        </nav>

        <div class="header-section">
            <div class="header-title">
                <h3>{{currentPath}}</h3>
            </div>
            <div class="header-actions">
                <button class="btn-action btn-primary" ng-click="showUploadModal()">
                    Upload
                </button>
                <button class="btn-action btn-secondary" ng-click="refresh()">
                    Refresh
                </button>
            </div>
        </div>

        <div class="alert alert-info" ng-if="loading">
            Loading files...
        </div>

        <div class="alert alert-danger" ng-if="error">
            {{error}}
        </div>

        <div class="file-list" ng-if="!loading && files.length > 0">
            <div class="file-item parent-dir" ng-if="currentPath !== '/'" ng-click="navigateUp()">
                <div class="file-icon folder-icon"></div>
                <div class="file-name">..</div>
                <div class="file-size">-</div>
                <div class="file-date">-</div>
                <div class="file-actions"></div>
            </div>
            
            <div class="file-item" ng-repeat="file in files | orderBy:'isDir':true" 
                 ng-class="{'folder': file.isDir, 'file': !file.isDir}">
                <div class="file-icon" ng-class="{'folder-icon': file.isDir, 'file-icon': !file.isDir}"></div>
                <div class="file-name" ng-if="file.isDir" ng-click="navigateToFolder(file.name)">
                    {{file.name}}
                </div>
                <div class="file-name" ng-if="!file.isDir">
                    {{file.name}}
                </div>
                <div class="file-size">{{file.isDir ? '-' : formatSize(file.size)}}</div>
                <div class="file-date">{{file.modTime}}</div>
                <div class="file-actions">
                    <button class="btn-download" ng-if="!file.isDir" ng-click="downloadFile(file.name)">
                        Download
                    </button>
                </div>
            </div>
        </div>

        <div class="alert alert-warning" ng-if="!loading && files.length === 0">
            No files found in this directory.
        </div>
    </div>

    <!-- Upload Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fileInput">Select File</label>
                        <input type="file" class="form-control-file" id="fileInput" 
                               onchange="angular.element(this).scope().onFileSelect(this)" />
                    </div>
                    <div class="progress" ng-if="uploading">
                        <div class="progress-bar" role="progressbar" style="width: {{uploadProgress}}%">
                            {{uploadProgress}}%
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-if="uploadError">
                        {{uploadError}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="uploadFile()" 
                            ng-disabled="!selectedFile || uploading">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <script src="terminal/js/index-lib.js"></script>
    <script src="terminal/js/filebrowser.js"></script>
</body>
</html> 